# Conexión a Neon PostgreSQL
# Reemplaza con tu cadena de conexión de Neon (https://neon.tech)
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Clave secreta para acciones de Administrador (Subir y Eliminar)
ADMIN_SECRET_KEY="admin123"
